<div class="container main col-md-12" id="gradient">


User Dashboard
<h1 class="textCenter">Your Favorite Poses </h1>

   <% @user_poses.each do |user_pose| %>
    <div class="col-md-4" style="height:450px !important;">
        &hearts; <%= user_pose.pose.name %>  </br>
         <%= user_pose.pose.sanskrit_name %> </br>
          <img style="padding-bottom:40px;padding-top: 20px;" width="300" src="<%= user_pose.pose.image %>" />
    </div>
  <% end %>
    



</div>



<iframe width="100%" height="350" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?q=yoga+studios&key=AIzaSyBvHzgZj_H3nZ_HSokKkVkXDeU7sEYYP_c" allowfullscreen></iframe>

