<div class="container main col-md-12">
User Dashboard</div>


 <div class="col-md-12">
        <div style='width: 800px;'>
          <div id="custom_style" style='width: 800px; height: 100px;'></div>
        </div>
    </div>
<iframe width="100%" height="350" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?q=yoga+studios&key=AIzaSyBvHzgZj_H3nZ_HSokKkVkXDeU7sEYYP_c" allowfullscreen></iframe>

