<div class="container">

  <div ng-app="app">
    <div ng-app="anatomiesCtrl">
      <div ng-repeat="anatomy in anatomies">
       <h2>{{ anatomies.anatomyName }}</h2>
     </div>
    </div>
  </div>
</div>

