<div class="container col-md-12" id="gradient">
        <h2><%= @pose.name %></h2>
        <p><b><%= @pose.sanskrit_name %></b></p>
        <img style="padding-bottom:40px;" width="300" src="<%= @pose.image %>" />
        <p><%= @pose.instructions %></p>
      </div>
</div>