<h2>Anatomies for current user</h2>


<% @anatomy_users.each do |anatomy_user| %>
  <h5> <%= anatomy_user.anatomy.anatomy_name %> </h5>
<% end %>

<h2>Pose sequence</h2>
<% @poses.each do |pose| %>
  <h3><%= pose.name %></h3>
  Anatomies: 
  <% pose.anatomies.each do |anatomy| %>
    <%= anatomy.anatomy_name %>
  <% end %>
<% end %>
