    
<div class="container main col-md-12">

    <h2>Your poses</h2>

    <h5>You would like to work on:</h5>
    <% @anatomy_users.each do |anatomy_user| %>
      <h5> <%= anatomy_user.anatomy.anatomy_name %> </h5>
    <% end %>
    
   


    <h3>Pose Sequence</h3>
    <% @poses.each do |pose| %>
        <img width="100" src="<%= pose.image %>" />
     
        <h5><%= pose.name %></h5><br/>

      Anatomies: 
      <% pose.anatomies.each do |anatomy| %>
        <%= anatomy.anatomy_name %>
      <% end %><br/><br/>
      <% end %>

</div>
